.fa-times:hover {
    color: red;
}

.fa-times {
    color: #F66F52;
}

.form-group {
    margin: 10px 10px
}

label {
    display:block; 
    text-align:left;
    margin: 12px 0 0 0}


.checkbox {
    text-align:left;
    margin: 0 12px  12px 0 }
    